html {
    scroll-behavior:smooth
    }
    
    @keyframes append-animate {
    from {
    transform:scaleY(0);
    opacity:0
    }
    
    to {
    transform:scaleY(1);
    opacity:1
    }
    }
    
    :not(.dayBarItems,#dayBar,#dayDisp,.dayBarNames,.fakep) {
    transition:.4s;
    animation:append-animate .2s ease-out
    }
    
    body {
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:inline-flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:center
    }
    
    .blurred {
    backdrop-filter:blur(10px)
    }
    
    .shadow {
    -moz-box-shadow:0 0 25px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 25px 10px rgba(0,0,0,0.2);
    box-shadow:0 0 25px 10px rgba(0,0,0,0.2)
    }
    
    p {
    font-size:calc(1.25vw + 1.25vh)
    }
    
    p1 {
    font:calc(1vw + 1vh) Figtree-Medium
    }
    
    .fakep {
    font-size:calc(1.25vw + 1.25vh);
    margin:0
    }
    
    db {
    cursor:default;
    font-size:calc(0.5vw + 0.5em);
    padding:calc(0.5vw + 0.5vh) calc(1vw + 1vh) calc(0.5vw + 0.5vh) calc(1vw + 1vh)
    }
    
    db:hover {
    cursor:pointer;
    font-size:calc(0.7vw + 0.7em);
    padding:calc(0.5vw + 0.5vh) calc(1vw + 1vh) calc(0.5vw + 0.5vh) calc(1vw + 1vh)
    }
    
    h2 {
    font-size:calc(1vh + 0.75em);
    padding-top:-100%
    }
    
    h1 {
    font-size:calc(1.5vw + 1.5vh)
    }
    
    button {
    -moz-box-shadow:0 0 10px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 10px 3px rgba(0,0,0,0.2);
    box-shadow:0 0 10px 3px rgba(0,0,0,0.2);
    border-radius:5px;
    border:none;
    padding-left:1.5em;
    padding-right:1.5em;
    margin-left:.5vw;
    margin-right:.5vw;
    margin-top:1vh;
    font:calc(1.3vw + 1.3vh) Figtree-SemiBold
    }
    
    button:hover {
    -moz-box-shadow:0 0 25px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 25px 10px rgba(0,0,0,0.2);
    box-shadow:0 0 25px 10px rgba(0,0,0,0.2);
    border-radius:5px;
    padding-left:1.5em;
    padding-right:1.5em;
    margin-left:0;
    margin-right:0;
    margin-top:.5vh;
    cursor:pointer;
    font:calc(1.35vw + 1.35vh) Figtree-SemiBold
    }
    
    button:active {
    transition:background-color .1s;
    -moz-box-shadow:0 0 10px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 10px 3px rgba(0,0,0,0.2);
    box-shadow:0 0 10px 3px rgba(0,0,0,0.2);
    border-radius:5px;
    border:none;
    padding-left:1.5em;
    padding-right:1.5em;
    margin-left:.5vw;
    margin-right:.5vw;
    margin-top:1vh;
    font:calc(1.3vw + 1.3vh) Figtree-SemiBold
    }
    
    .header {
    width:90%;
    height:auto;
    top:0;
    border-radius:0 0 15px 15px;
    position:fixed;
    z-index:100;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
    padding-left:2.25rem
    }
    
    .headerButtonContain {
    text-align:center;
    width:auto;
    height:calc(2.25vh + 1.75em)
    }
    
    .headerButton:hover + .dropdown {
    pointer-events:all;
    visibility:visible;
    opacity:1
    }
    
    .dropdown:hover {
    pointer-events:all;
    visibility:visible;
    opacity:1
    }
    
    .headerButton {
    color:#DDD;
    cursor:default
    }
    
    .headerButton:hover {
    color:#AAA;
    cursor:pointer
    }
    
    .dropdown {
    pointer-events:all;
    min-width:100%;
    white-space:nowrap;
    height:auto;
    display:inline-flex;
    visibility:hidden;
    flex-direction:column;
    border-radius:0 5px 5px 5px;
    -moz-box-shadow:0 0 8px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 8px 3px rgba(0,0,0,0.2);
    box-shadow:0 0 8px 3px rgba(0,0,0,0.2);
    align-items:stretch;
    align-content:stretch;
    margin-top:-1.15vh;
    transition:visibility 0s,opacity .5s linear;
    opacity:0
    }
    
    .content-container {
    width:80%;
    height:80%;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:space-around;
    justify-content:center;
    margin-top:3vh;
    padding:calc(1vh + 1vw);
    text-align:center
    }
    
    .selection-pos {
    display:flex;
    width:100%;
    height:100%;
    flex-direction:row;
    align-items:stretch
    }
    
    .selection-buttons {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:calc(0.5vw + 0.5vh)
    }
    
    .selection-grid {
    display:grid;
    width:100%;
    height:100%;
    grid-template-rows:1fr 1fr 1fr;
    grid-auto-flow:column;
    row-gap:1vw;
    column-gap:1vh
    }
    
    .tracker-containers {
    border-radius:15px
    }
    
    .text-input {
    border-radius:5px;
    border-style:none;
    -moz-box-shadow:0 0 30px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 30px 5px rgba(0,0,0,0.2);
    box-shadow:0 0 30px 5px rgba(0,0,0,0.2);
    margin-top:2.5vh;
    margin-bottom:2.5vh;
    font:calc(1vw + 1vh) Figtree-SemiBold
    }
    
    .text-input:focus {
    outline:none;
    -moz-box-shadow:0 0 30px 25px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 30px 25px rgba(0,0,0,0.2);
    box-shadow:0 0 30px 25px rgba(0,0,0,0.2)
    }
    
    .time-button {
    padding:.3em;
    margin:0
    }
    
    .time-button:hover {
    padding:.31em;
    margin:0
    }
    
    .time-button:active {
    padding:.3em;
    margin:0
    }
    
    #settings-grid {
    display:grid;
    width:100%;
    height:100%;
    grid-template-columns:1fr 1fr;
    row-gap:1vw;
    column-gap:1vh;
    align-content:center
    }
    
    #headerClock {
    margin-left:auto;
    margin-right:1vw
    }
    
    #trackerPageFlex {
    display:grid;
    width:100%;
    height:100%;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr;
    align-items:center
    }
    
    #dayDisp {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center
    }
    
    #dayBar {
    width:80%;
    height:80%;
    background-color:#303030;
    border-radius:15px;
    display:flex;
    flex-direction:column-reverse;
    padding-bottom:1vh
    }
    
    .dayBarItems {
    width:95%;
    border-radius:15px;
    margin:.5% 2.5%
    }